{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">

    {% block navbar %}
    <header id="navbar" class="navbar" role="banner">
      <div class="navbar-header">
        {{ page.secondary_menu }}
        {{ page.primary_menu }}
      </div>
    </header>
    {% endblock %}


    {% if page.featured_top %}
    <div class="featured-top">
      <aside class="featured-top__inner section layout-container clearfix" role="complementary">
        {{ page.featured_top }}
      </aside>
    </div>
    {% endif %}

    {# Main #}
    {% block main %}
    <div id="page-main-container" role="main" class="main-container js-quickedit-main-content">
      <div class="row">

        {# Sidebar first #}
        {% if page.sidebar_first %}
        {% block sidebar_first %}
        <aside id="sidebar-first" class="col s3" role="complementary">
          {{ page.sidebar_first }}
        </aside>
        {% endblock %}
        {% endif %}

        {# Content #}
        {%
          set content_classes = [
            page.sidebar_first and page.sidebar_second ? 'col s6',
            page.sidebar_first and page.sidebar_second is empty ? 'col s9',
            page.sidebar_second and page.sidebar_first is empty ? 'col s9',
            page.sidebar_first is empty and page.sidebar_second is empty ? 'col s12'
          ]
        %}

        <section{{ content_attributes.addClass(content_classes) }}>

          {# Breadcrumb #}
          {% if page.breadcrumb %}
          {% block breadcrumb %}
          <div class="breadcrumb">{{ page.breadcrumb }}</div>
          {% endblock %}
          {% endif %}

          {# Highlighted #}
          {% if page.highlighted %}
          {% block highlighted %}
          <div class="highlighted">
            <aside class="layout-container section clearfix" role="complementary">
              {{ page.highlighted }}
            </aside>
          </div>
          {% endblock %}
          {% endif %}

          {# Header #}
          {% if page.header %}
          {% block header %}
          <div class="header">{{ page.header }}</div>
          {% endblock %}
          {% endif %}

          {# Help #}
          {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
          {% endif %}
          {# Content #}
          {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
          {% endblock %}

        </section>

        {# Sidebar Second #}
        {% if page.sidebar_second %}
        {% block sidebar_second %}
        <aside class="col s3" role="complementary">
          {{ page.sidebar_second }}
        </aside>
        {% endblock %}
        {% endif %}

      </div>
    </div>
    {% endblock %}


    <!-- tryptic footer -->
    {% if page.featured_bottom_first or page.featured_bottom_second  %}
      <div class="featured-bottom">
        <aside class="layout-container clearfix" role="complementary">
          {% if page.featured_bottom_first %}
          <div class="row featured_bottom_first light-blue accent-4">
            <div class="col s12">
              {{ page.featured_bottom_first }}
            </div>
          </div>
          {% endif %}
          {% if page.featured_bottom_second  %}
          <div class="row featured_bottom_second amber">
            <div class="col s12">
              {{ page.featured_bottom_second }}
            </div>
          </div>
          {% endif %}
          {% if page.featured_bottom_third  %}
          <div class="row featured_bottom_third red accent-4">
            <div class="col s12">
              {{ page.featured_bottom_third }}
            </div>
          </div>
          {% endif %}
        </aside>
      </div>
    {% endif %}
  </div>
</div>

{# footer attributes #}
{%
  set class_footer = page.footer_first and page.footer_second ? 'col s12 m6' : 'col s12'
%}

<footer class="site-footer">
  <div class="layout-container clearfix grey darken-3">
    {% if page.footer_first or page.footer_second %}
    <div class="site-footer__top clearfix">
      <div class="row">
        <div class="{{ class_footer }}">
          {{ page.footer_first }}
        </div>
        <div class="{{ class_footer }}">
          {{ page.footer_second }}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row grey tag-zewebmaster darken-3 right">
      <span class="white-text right">Made with <a href="http://zewebmaster.fr" target="_blank" id="pulse-footer" class="btn-floating btn white pulse"><i class="material-icons red-text text-accent-4">favorite</i></a> by Ze Webmaster</span>
    </div>
  </div>
</footer>
