/**
 * Place your custom styles here.
 */

div#page-main-container
{
  width: 90%;
  margin: 0 auto;
}

nav.toolbar-lining
{
  background-color: transparent;
}
 /* ************************************ */
 /* *************** BODY *************** */
 /* ************************************ */
h1, h2, h3, h4, h5, h6
{
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color:       inherit;
}

body
{
  font-family:      'Oxygen', sans-serif;
  background-color: #e3e3e3;
}



/* ********************************************* */
/* *************** LAYOUT REGION *************** */
/* ********************************************* */



/* ************************************ */
/* ************ NAVIGATION ************ */
/* ************************************ */

nav#block-materialize-account-menu
{
  background-color: #424242;
}
nav#main-menu
{
  background-color: #01579b;
}

.pagination li.active {
    background-color: #01579b;
}

.navbar-fixed {
  z-index: 501;
}

div.sidenav-overlay
{
  z-index: 450;
}
ul.sidenav
{
  width: 400px;
}


/* ************************************** */
/* ************ PRIMARY MENU ************ */
/* ************************************** */







/* ****************************************** */
/* *************** FRONT PAGE *************** */
/* ****************************************** */





/* ************************************ */
/* *************** PAGE *************** */
/* ************************************ */





/* ************************************** */
/* *************** FOOTER *************** */
/* ************************************** */



/* *************************************** */
/* *************** ARTICLE *************** */
/* *************************************** */
