{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}


{% if breadcrumb %}

<nav>
  <div class="nav-wrapper grey lighten-2">
    <div class="col s12">

      {% for item in breadcrumb %}
      {% if item.url %}
        <a class="breadcrumb" href="{{ item.url }}"><span class="black-text">{{ item.text }}</span></a>
      {% else %}
        <a href="#!" class="breadcrumb"><span class="black-text">{{ item.text }}</span></a>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</nav>
{% endif %}
