{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ previous"
 *     or "next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @ingroup templates
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
<div id="views-pager" class="card grey lighten-2">
  <div class="card-content">
    <div class="row">
      <ul class="pagination">

        {# Print first item if we are not on the first page. #}
        {% if items.first %}
        <li class="waves-effect">
          <a href="{{ items.first.href }}" title="{{ 'Première page'|t }}" rel="first"{{ items.first.attributes }}>
            <i class="material-icons">first_page</i>
          </a>
        </li>
        {% endif %}

        {# Print previous item if we are not on the first page. #}
        {% if items.previous %}
        <li class="waves-effect">
          <a href="{{ items.previous.href }}" title="{{ 'Page précédente'|t }}" rel="prev"{{ items.previous.attributes }}>
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
        {% endif %}

        {# Now generate the actual pager piece. #}
        {% for key, item in items.pages %}
        <li class="{{ current == key ? 'active' : 'waves-effect' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Page @key'|t({'@key': key}) %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes }}>
            <span class="visually-hidden">
              {{ current == key ? 'Current page'|t : 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>
        {% endfor %}

        {# Print next item if we are not on the last page. #}
        {% if items.next %}
        <li class="waves-effect">
          <a href="{{ items.next.href }}" title="{{ 'Page suivante'|t }}" rel="next"{{ items.next.attributes }}>
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
        {% endif %}

        {# Print last item if we are not on the last page. #}
        {% if items.last %}
        <li class="waves-effect">
          <a href="{{ items.last.href }}" title="{{ 'Dernière page'|t }}" rel="last"{{ items.last.attributes }}>
            <i class="material-icons">last_page</i>
          </a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</div>
{% endif %}
