{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<ul class="right hide-on-med-and-down">
  {{ menus.menu_links(items, attributes, 0) }}
</ul>

<ul id="main-menu-mobile" class="sidenav">
  {{ menus.menu_links_mobile(items, attributes, 0) }}
</ul>


{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {% if items %}

    {% for item in items %}
      <li>
        {% set link_title = item.title %}
        {% set link_url = item.url %}

        {# if dropdown #}
        {% if menu_level == 0 and item.is_expanded and item.below %}
          {% set link_dropdown = 'dropdown-' ~ link_title|lower %}
          {% set link_url = item.url %}
          <a class="dropdown-trigger" href="#" data-target="{{ link_dropdown }}">
            <span class="flow-text">{{ link_title }}</span>
          </a>
        {% else %}
        <a href="{{ link_url }}">
          <span class="flow-text">{{ link_title }}</span>
        </a>
        {# link(link_title, link_url) #}
        {% endif %}

        {% if item.below %}
        <ul id="{{ link_dropdown }}" class="dropdown-content">
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        </ul>
        {% endif %}
      </li>
    {% endfor %}

  {% endif %}
{% endmacro %}


{% macro menu_links_mobile(items, attributes, menu_level) %}
  {% import _self as menus %}

  {% if items %}

    {% for item in items %}
      <li>
        {% set link_title = item.title %}
        {% set link_url = item.url %}

        {# if dropdown #}
        {% if menu_level == 0 and item.is_expanded and item.below %}
          {% set link_dropdown = 'dropdown-' ~ link_title|lower %}
          {% set link_url = item.url %}
          <a class="dropdown-trigger" href="#" data-target="{{ link_dropdown }}-mobile">
            <span class="flow-text">{{ link_title }}</span>
          </a>
        {% else %}
        <a href="{{ link_url }}">
          <span class="flow-text">{{ link_title }}</span>
        </a>
        {# link(link_title, link_url) #}
        {% endif %}

        {% if item.below %}
        <ul id="{{ link_dropdown }}-mobile" class="dropdown-content">
          {{ menus.menu_links_mobile(item.below, attributes, menu_level + 1) }}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  {% endif %}
{% endmacro %}
