{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup templates
 *
 * @see template_preprocess_menu_local_tasks()
 */
#}
{% if primary %}
<nav id="primary-menu" role="navigation" aria-label="{{ 'Tabs'|t }}">
  <div id="primary-menu-container" class="nav-wrapper  pink darken-2">
    <ul>{{ primary }}</ul>
  </div>
</nav>
{% endif %}
{% if secondary %}
<nav id="secondary-menu" role="navigation" aria-label="{{ 'Tabs'|t }}">
  <div id="secondary-menu-container" class="nav-wrapper  pink darken-2">
    <ul>{{ secondary }}</ul>
  </div>
</nav>
{% endif %}
